.circle{
    width : 150px;
    height : 150px;
    border-radius : 50%;
    border : 2px solod green;
    background : green;
    text-align : center;
    margin : 0px 30px 0px 30px;

}
.circleContent{
    margin : 0px 30px 0px 30px;
    font-size : 30px;
}

#home_text{
    display: grid;
    grid-template-columns : 400PX 1fr;
    grid-template-rows : 70px 70px 70px;
    row-gap: 10px;
}

.item-home:nth-child(4){
    grid-row : 1/4;
}


