.circle{
    width : 150px;
    height : 150px;
    border-radius : 50%;
    border : 2px solod green;
    background : green;
    text-align : center;
    margin : 0px 30px 0px 30px;

}
.circleContent{
    margin : 0px 30px 0px 30px;
    font-size : 30px;
}