#login_wrap{
    margin : 20px;
}

#signup_wrap{
    display: grid;
    grid-template-columns : 200PX 1fr;
    grid-template-rows : 70px 70px 70px 70px;
    row-gap: 10px;
}

.form-title .item-1{
    padding-top : 10px;
    margin : 10px;
}