{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Webeing</title>

  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}?after" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/add.css' %}?after" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/movie.css' %}?after" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}?after" />
</head>

<body>

  <!-- Header -->
  <header id="header">
    <div class="logo"><a href="{% url 'home' %}">로고 <span>홈으로 가는 버튼 역할도</span></a></div>
    <nav id="navbar">
        <ul>
    
          {% if user.is_authenticated %}
          <li class="nav-item-le"><a href="{% url 'logout' %}" id="logout_button">로그아웃</a></li>
    
          {% else %}
          <li class="nav-item-le"><a href="{% url 'login' %}" id="signup_button">Log In</a></li>
          <li class="nav-item-le"><a href="" id="signup_button">Sign Up</a></li>
    
          {% endif%}
        </ul>
      </nav>
  </header>
  <section id="banner" class="bg-img" data-bg="headerBackground.jpg">
    <div class="inner">

    {% block header %}
    {% endblock %}
        
    </div>
</section>
  

  


  {% block content %}
  {% endblock %}
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/jquery.scrolly.min.js"></script>
  <script src="../static/js/jquery.scrollex.min.js"></script>
  <script src="../static/js/skel.min.js"></script>
  <script src="../static/js/util.js"></script>
  <script src="../static/js/main.js"></script>
  <script src="../static/js/movie.js"></script>
  <script src="../static/js/classie.js"></script>

</body>

</html>