{% extends "base.html" %}
{% load static %}

{% block header %}
    <header>
        <h1>0THER FOOD,</h1>
        <h1>SAVE EARTH</h1>
        </header>
    
    <header>
        <h2>
           <div class="wrapper-left">
               <div class="user-num">   
                   <p id="counter1"></p>
                    </div>

                </div>
            </h2>

        </header>
{% endblock %}

{% block content %}



<!-- One -->
<section id="one" class="wrapper post bg-img" data-bg="banner2.jpg">
    <!-- <img src = "{% static 'images/banner2.jpg' %}"> -->
    <div class="inner">
        <article class="box">

            <header>
                <h2>
                        Order Food, Save Earth 
                </h2>
                
            </header>
            <div class="content">
                <ul class = "icons" style = "padding-top : 10px;">
                    <li class="circle"><span class="label"></span></li>
                    <li class="circle"><span class="label"></span></li>
                    <li class="circle"><span class="label"></span></li>
                </ul>
                <ul class = "icons" style = "padding-bottom : 20px;">
                        <li class = "circleContent">2032그루</li>
                        <li class = "circleContent">719만톤</li>
                        <li class = "circleContent">849kgCO2</li>
                    </ul>
                <!-- <ul class="icons">
                            <li><span class="label"><img src = "{% static 'images/Tree.png' %}"></span></li>
                            <li><span class="label"><img src = "{% static 'images/Apple.png' %}"></span></li>
                            <li><span class="label"><img src = "{% static 'images/CO2_C.png' %}"></span></li>
                        </ul> -->
                <p>이미지나 원하는 문구를 더 넣으면 될 것 같아...!
                </p>
            </div>
            <footer>
            
            <div class="video-wrap">
                    <div class="video-inner">
                        <video class="video-player" src="{% static 'media/woods.mp4' %}" preload="auto">
                            <source src="{% static 'media/woods.webm' %}" type='video/webm; codecs="vp8.0, vorbis"'>
                            <source src="{% static 'media/woods.ogg' %}" type='video/ogg; codecs="theora, vorbis"'>
                            <source src="{% static 'media/woods.mp4' %}" type='video/mp4; codecs="avc1.4D401E, mp4a.40.2"'>
                            <p>Sorry, but your browser does not support this video format.</p>
                        </video>
                        <button class="action action--close"><i class="fa fa-close"></i><span class="action__label action__label--hidden">Close preview</span></button>
                    </div> <!-- /video-inner -->
                </div>
                <div class="content">
                        <div class="loader">
                            <i class="fa fa-spinner fa-pulse"></i>
                        </div>
                        <button class="action action--hidden action--play">
                            <span class="action__label">Watch the video</span>
                        </button>
                    </div>
                </footer>
        </article>
    </div>
    <a href="#two" class="more">Learn More</a>
</section>

<!-- Two -->
<section id="two" class="wrapper post bg-img" data-bg="banner5.jpg">
    <div class="inner">
        <article class="box">
            <header>
                <h2>재고 상품 처리</h2>
                <p>유통기한이 지난 재고 상품을 처리 할 때마다 생기는 고민</p>
            </header>
            <div class="content">
                <section class="4u 12u$(small)">
                    <i class="icon big rounded fa-clock-o"></i>
                    {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quam consectetur quibusdam magni
                        minus aut modi aliquid.</p> {% endcomment %}
                </section>
                <p>
                <div id = "home_text">
                    <div class = "item-home">버려지는 수많은 음식들</div>
                    <div class = "item-home">매번 낭비되는 비용들</div>
                    <div class = "item-home">음식물 쓰레기로 인한 환경 오염 문제</div>
                    <div class = "item-home">test image 넣는 자리</div>
                </div>
                </p>
            </div>
            <footer>
                {% comment %} <a href="generic.html" class="button alt">Learn More</a> {% endcomment %}
            </footer>
        </article>
    </div>
    <a href="#three" class="more">Learn More</a>
</section>

<!-- Three -->
<section id="three" class="wrapper post bg-img" data-bg="banner4.jpg">
    <div class="inner">
        <article class="box">
            <header>
                <h2>Varius a cursus aliquet</h2>
                <p>11.11.2016</p>
            </header>
            <div class="content">
                <p>Scelerisque enim mi curae erat ultricies lobortis donec velit in per cum consectetur purus a enim
                    platea
                    vestibulum lacinia et elit ante scelerisque vestibulum. At urna condimentum sed vulputate a duis in
                    senectus
                    ullamcorper lacus cubilia consectetur odio proin sociosqu a parturient nam ac blandit praesent
                    aptent. Eros
                    dignissim mus mauris a natoque ad suspendisse nulla a urna in tincidunt tristique enim arcu litora
                    scelerisque eros suspendisse.</p>
            </div>
            <footer>
                <a href="generic.html" class="button alt">Learn More</a>
            </footer>
        </article>
    </div>
    <a href="#four" class="more">Learn More</a>
</section>

<!-- Four -->
<section id="four" class="wrapper post bg-img" data-bg="banner3.jpg">
    <div class="inner">
        <article class="box">
            <header>
                <h2>Luctus blandit mi lectus in nascetur</h2>
                <p>10.30.2016</p>
            </header>
            <div class="content">
                <p>Scelerisque enim mi curae erat ultricies lobortis donec velit in per cum consectetur purus a enim
                    platea
                    vestibulum lacinia et elit ante scelerisque vestibulum. At urna condimentum sed vulputate a duis in
                    senectus
                    ullamcorper lacus cubilia consectetur odio proin sociosqu a parturient nam ac blandit praesent
                    aptent. Eros
                    dignissim mus mauris a natoque ad suspendisse nulla a urna in tincidunt tristique enim arcu litora
                    scelerisque eros suspendisse.</p>
            </div>
            <footer>
                <a href="generic.html" class="button alt">Learn More</a>
            </footer>
        </article>
    </div>
</section>

<!-- Footer -->
<footer id="footer">
    <div class="inner">

        <h2>Contact Me</h2>

        <form action="#" method="post">

            <div class="field half first">
                <label for="name">Name</label>
                <input name="name" id="name" type="text" placeholder="Name">
            </div>
            <div class="field half">
                <label for="email">Email</label>
                <input name="email" id="email" type="email" placeholder="Email">
            </div>
            <div class="field">
                <label for="message">Message</label>
                <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
            </div>
            <ul class="actions">
                <li><input value="Send Message" class="button alt" type="submit"></li>
            </ul>
        </form>

        <ul class="icons">
            <li><a href="#" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
        </ul>

        <div class="copyright">
            &copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a
                href="https://unsplash.com">Unsplash</a>.
        </div>

    </div>
</footer>
<script>
    function numberCounter(target_frame, target_number) {
        this.count = 0; this.diff = 0;
        this.target_count = parseInt(target_number);
        this.target_frame = document.getElementById(target_frame);
        this.timer = null;
        this.counter();
    };

    numberCounter.prototype.counter = function () {
        var self = this;
        this.diff = this.target_count - this.count;

        if (this.diff > 0) {
            self.count += Math.ceil(this.diff / 5);
        }

        this.target_frame.innerHTML = this.count.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');

        if (this.count < this.target_count) {
            this.timer = setTimeout(function () { self.counter(); }, 50);
        } else {
            clearTimeout(this.timer);
        }
    };
    // const choices_name = JSON.parse(user.size());
    new numberCounter("counter1", 9999934534543);
    new numberCounter("counter2", 21565748);

</script>
{% endblock %}