{% extends "base.html" %}
{% load static %}
{% block header %}
<header>
        <h1>LOGIN</h1>
        
        </header>
   <form>
        <div id="login_wrap">
        <label for="user"></label><input type="text" placeholder = "ID" id="user">
        <div class="clear"></div>
        <label for="user"></label><input type="password" placeholder = "PASSWORD" id="user">
        
        </div>
     <input type="submit" value="login">
     </form>
     <div class="clear"></div>
      <div class="clear"></div>
      {% comment %} <label><input type="button" value="회원가입"></label>  {% endcomment %}

 

{% endblock %}

{% block content %}

{% endblock %}